<mat-card class="doc-card">
  <mat-card-header>
    <i class="material-icons md-light">assessment</i>
    <mat-card-title>{{doc.name}}</mat-card-title>
    <mat-card-subtitle>Created by {{doc.author}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
    <button mat-button (click)="downloadItem()">Download</button>
    <button mat-button (click)="removeItem()">Remove</button>
</mat-card-actions>
</mat-card>
